/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */

body {
	font-family: sans-serif;
}

div.home-container { 
	background: url("home-background.jpg") center center fixed;
	background-size: cover;
	position: relative;
	min-height: 100vh; 
}

div.container { 
	position: relative;
	padding-bottom: 5rem;
	min-height: 100vh; 
}

/* >>> IMPORTANT: you have to change the wrap the content of your home page (index) in a div with a class home-container to make it work. If you used a div with the class container on your home, you’ll only need to change the name of the class.  */


img {
    width: 100%; /*Please leave this line.*/
     display: block;
}



header {
	display: grid;
	grid-template-columns: 1fr 1fr;
	background: rgb(230, 220, 200);
	padding: 2rem 0.5rem 1rem 2rem;
	margin-bottom: 3em;
}

h1 {
	width: 12em;
}

h2, h3, h4 {
		font-weight: bold;
}

h2 {
	font-size: 2em;
	margin: 1rem 2rem 0rem;
}
	
h3 {
	font-size: 1.5rem;
	margin: 1.5rem 2rem 0.5rem;
}

a {
	text-decoration: none;
}

nav ul  {
	text-align: right;
}
	
ul li 	{
	list-style-type: none;
}

figure ul li {
	display: grid;
	grid-template-columns: 1/3;
	margin: 1em 2em 2em;
}

main.menu ul {
		margin: 0.5rem 2rem;
}	

main.menu ul li {
		margin: 1rem 0rem 1.5rem;
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto;
}	

p {
	margin: 0.5em 2em 0em;
}
	
p.description {
	margin: 0.5em 0em;
}
	
p.price {
	grid-row: 1/2;
	grid-column: 2/3;
	color: rgb(184, 184, 129);
	text-align: right;
	margin: 0em;
}
	
nav ul li {
	text-transform: uppercase;
	font-weight: bold;
	margin: 0.5rem 1rem 1.5rem 0rem;
}
	
nav ul li a {
	color: rgb(250, 250, 250);
	background-color: rgb(190, 170, 140);
	padding: 0.5em;
}

nav ul li.selected a { 
	background-color: rgb(184, 184, 129);
}

p.slogan {
	font-size: 4em;
	font-family: Playfair Display;
	font-style: italic;
	background-color: rgba(190, 170, 140, 0.7);
	margin: 1em 0em 1em;
	padding: 0.5em 1em;
	color: rgb(255, 255, 255);	
}
	
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem; 
  box-sizing: border-box;
  padding: 1rem 0.5rem;
  background: rgb(230, 220, 200);
}

p.address {
	color: rgb(250, 250, 250);
}

article section {
	padding: 1em 0em 0em;
	margin: auto;
	max-width: 50em;
}

.slider-container {
	height: 30em;
  width: 100%;
 	margin: auto;
  position: relative;
  overflow: hidden; 
  text-align: center;
}

.dots {
  position: absolute;
  left: 0;
  z-index: 900;
  width: 100%;
  bottom: 0;
}

.dots label {
  cursor: pointer;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 50px;
  margin: 0 .2em 1em;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 10;
  padding: 8em 1em 0;
  background-size: cover;
  background-position: 50% 50%;
  transition: left 0s .75s;
}

[id^="slide"]:checked + .slide {
  left: 0;
  z-index: 100;
  transition: left .65s ease-out;
}
.slide-1 {
  background-image: url("slide1.jpg");
}
.slide-2 {
  background-image: url("slide2.jpg");
}
.slide-3 {
  background-image: url("slide3.jpg");
}

footer p {
	margin: 0;
}

@media screen and (min-width: 60em) {
	
	nav ul li {
		display: inline-block;
		margin: 1em 0.5em;
		font-size: 1.5em;
	}
	
	div.container { 
		background-color: rgb(250, 250, 250);
	}

	main {
		max-width: 80%;
		margin: auto auto;
	}

	main.menu ul {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 8em;
	}	

	main.contact {
		display: grid;
		grid-template-columns: 2fr 1fr;
		align-items: center;
	}

	main.about {
		display: grid;
		grid-template-columns: 1fr 2fr;
		align-items: center;
	}

	.slider-container {
	 	margin: auto;
	  position: relative;
	  overflow: hidden; 
	  text-align: center;
	}

}